body {
    background-color: #191919;
    color: white;
    font-family: sans-serif;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button img {
    width: 50%;
    height: 50%;
}

