body {
    background-color: #191919;
    color: white;
    font-family: 
}

.choices button {
    background-color: transparent;
    border: 3px solid white;
    height: 120px;
    width: 120px;
    border-radius: 60px;
    cursor: pointer;
    margin-right: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button img {
    width: 50%;
    height: 50%;
}

