body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button img {
    width: 100px;
    height: 100px;
}

